<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

  <test name="Calling scenario">

    <parameter name = "nodeIP" value = "127.0.0.1"/>
    <parameter name = "port" value = "4723"/>
    <parameter name = "DeviceID" value = "2160520822057ece"/>

    <classes>

      <class name = "com.plivo.TestCalling"/>

    </classes>
  </test>
</suite>
